.list {
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.group-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-top: 10px;
    /* background-color: rgb(246, 246, 248); */
}

.listTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 657px; */
    background-color: rgb(47, 48, 97);
    /* background: linear-gradient(#000d80, #e4e3e6); */
}
