.App {
    text-align: center;
    height: 657px;
    background-color: rgb(23, 23, 100);
    /* background: linear-gradient(#000d80, #b1a5e7);  */
}
/* .footer {
    background-color: rgb(255, 251, 0);
} */
